.form {
    margin: 60px auto 50px;
    border-radius: 6px;
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    padding: 20px;
    font-size: 20px;
}

.small-section {
    padding: 5px;
    margin: 7px;
}

.form label {
    display: inline;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 8px 0 4px;
}

.form input,
.form textarea {
    padding: 4px;
    border-radius: 6px;
    width: 100%;
    border: none;
}

input:focus,
textarea:focus {
    outline: none;
}

#title {
    font-size: 32px;
    line-height: 34px;
}

#pseudonym {
    font-size: 16px;
    line-height: 18px;
}

#story {
    font-size: 18px;
    line-height: 21px;
}

::placeholder {
    color: rgb(162, 160, 160);
}

button {
    cursor: pointer;
    border: 1px solid;
    padding: 10px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 18px;
}

.button {
    text-align: center;
}

.hidden {
    display: none;
}
